<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    
    <img class="djlogo" src="{%static 'image/djLogo.png'%}"><h1 class="title">DJANGO SHOP</h1>
    <h1>Informacion</h1>
    
    <img class="audiofonosRX" src="{%static 'image/audiofonosRX.png'%}">
    <img class="keyboard" src="{%static 'image/keyboard.png'}">
    <img class="monitor" src="{%static 'image/monitor.png'}">

</body>
</html>